altair
attrs
bcrypt
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
contourpy
cycler
filelock
fonttools
fsspec
gitdb
GitPython
grad-cam
idna
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
opencv-python
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
python-gettext
pytz
PyYAML
referencing
requests==2.32.3
PyJWT==2.10.1
cryptography==44.0.0
rich
rpds-py
s3transfer
scikit-learn
scipy
seaborn
setuptools
six
smmap
stqdm
streamlit
streamlit-image-select
sympy
tenacity
threadpoolctl
toml
toolz
torch
torchvision
tornado
tqdm
ttach
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
monai
grpcio==1.70.0
yandexcloud==0.347.0
ydb
